body {
    background: #fafafa;
    color: #666;
    font-family: arial;
    padding: 0;
    height: 100%;
}

h1 {
    color: #444;
    font-size: 24px;
}

div > h1:first-child {
    margin-top: 0;
}

.hidden {
    display: none;
}

.align-right {
    text-align: right;
}

.button {
    background: #4e5d6c;
    border: none;
    color: #fafafa;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 1;
    margin-right: 15px;
    padding: 10px 21px;
    text-decoration: none;
}

.button:hover {
    background: #485563;
}

.button.success {
    background: #5cb85c;
}

.button.success:hover {
    background: #47a447;
}

.sidebar {
    background: #f1f1f1;
    color: #666;
    box-sizing: border-box;
    position:fixed;
    height: 100%;
    overflow:hidden;
    padding: 0;
    top:0;
    left: 0;
    width: 40px;
    z-index: 100;
    transition: width 400ms ease-in;
}

.sidebar:hover {
    overflow-y: auto;
    width: 250px;
    transition: width 400ms ease-in;
}

.sidebar-left {
    left: auto;
    right: 0;
}

.sidebar h2 {
    font-size: 18px;
    background: #d2d2d2;
    margin: 0;
    padding: 15px;
}

.sidebar h3 {
    font-size: 16px;
    background: #dfdfdf;
    margin: 0;
    padding: 15px;
}

.sidebar ul {
    font-size: 14px;
    list-style: none;
    margin: 0;
    padding: 0;

}

.sidebar a {
    display: inline-block;
    color: #1073a9;
    font-weight: bold;
    text-decoration: none;
    width: 100%;
    padding: 10px;
}

.sidebar a:hover {
    background: #f8f8f8;
}

.sidebar li {
    margin: 0;
    padding: 0;
}

.sidebar p {
    padding: 0 15px;
}

.sidebar h3,
.sidebar h2,
.sidebar ul,
.sidebar p {
    width: 250px;
    display: none;
}

.sidebar:hover h2,
.sidebar:hover h3,
.sidebar:hover ul,
.sidebar:hover p {
    display: block;
}

.sidebar .arrow-wrap {
    padding: 15px;
}

.sidebar:hover .arrow-wrap {
    display: none;
}

#main-container {
    box-sizing: border-box;
    margin-left: 2%;
    position: relative;
    overflow: hidden;
    padding: 5px 40px;
    width: 96%;
}

.file-bar {
    background: #4e5d6c;
    border: none;
    box-sizing: border-box;
    color: #ebebeb;
    font-size: 16px;
    line-height: 1;
    width: 100%;
}

.file-tab {
    display:inline-block;
    background: #485563;
    padding: 15px 15px;
}

#editor {
    height: 500px;
    width: 100%;
    padding-top:10px;
    margin-top: 0;
}

#output {
    border: 1px solid #1a2c3d;
    color: #fafafa;
    background: #2b3e50;
    box-sizing: border-box;
    padding: 15px;
    width: 100%;
}